@import "../../common/colors.scss";
@import "../../common/hw.scss";
@import "../../common/common.scss";

.un-assign-batch {
  justify-content: center;
  align-items: center;
  place-items: start center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 150px;
}
.uab-div {
  user-select: none;
  margin: 20px 0px;
  cursor: pointer;
  height: 100px;
  width: 300px;
  border-radius: $overlayRadius;
  background: $whiteOverlay;
  transition: 0.3s;
  @include rowSpaceCenter;
  padding: 0 10px;
  .count-div {
    padding: 2px;
    height: 85%;
    width: 25%;
    background: #0ab3e76d;
    border-radius: $elementRadius;
    @include centerAlign;
    flex-direction: column;
    .count {
      font-size: 40px;
      color: #87a0ae;
      line-height: 0.8;
    }
    span {
      color: #87a0ae;
      font-size: 15px;
    }
  }
  .card-content-div {
    height: 85%;
    width: 72%;
    // background-color: yellow;
    .title-div {
      @include rowSpaceCenter;
      .title {
        font-size: 25px;
        color: #87a0ae;
      }
      .ico {
        color: rgba(255, 255, 255, 0.103);
        font-size: 40px;
      }
    }
    .course-tt {
      width: 100%;
      @include rowSpaceCenter;
      padding: 8px 10px;
      background: rgba(255, 255, 255, 0.082);
      border-radius: $elementRadius;
      color: #87a0ae;
      font-size: 18px;
    }
  }
  &:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.462);
  }
  &:active {
    transition: 0.1s;
    transform: scale(0.95);
  }
}
@media only screen and (max-width: 1620px) {
  .un-assign-batch {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1290px) {
  .un-assign-batch {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 915px) {
  .un-assign-batch {
    grid-template-columns: repeat(1, 1fr);
  }
}
