.user-card-div {
  margin: 10px 15px;
  height: 75px;
  width: 90%;

  background: rgba(0, 0, 0, 0.195);
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  .user-img {
    margin-left: 10px;
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .user-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 10px;

    .username {
      width: calc(100% - 10px);
      color: white;
      font-size: 20px;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user-email {
      line-height: 1;
      color: #3e8cad;
      width: calc(100% - 10px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
