.cert-view {
  width: 100%;
  height: 100%;

  .cert-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    max-height: 100%;
    padding: 10px;
    overflow-y: scroll;
  }
}
.cert {
  width: 250px;
  height: fit-content;
  background-color: #ffffff26;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.09s;
  padding: 10px;

  .cert-div {
    min-height: 150px;
    max-height: 200px;
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .cert-action {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .cert-control {
      display: flex;
      gap: 10px;

      .ico {
        font-size: 20px;
        cursor: pointer;
      }
      .del {
        color: #e45a5a;
      }
      .edit {
        color: #5a96e4;
      }
    }

    p {
      color: white;
      font-weight: bold;
    }
  }
  &:hover {
    transform: rotateZ(5deg);
  }
}
