@import "../common/colors.scss";
@import "../common/hw.scss";
@import "../common/common.scss";

.sidebar-div {
  height: 100%;
  min-width: 300px;
  width: 20%;
  background: $appBarBg;
  border-right: 2px solid $borderColor;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
}
