$inputText: #4e6d88;
$inputBackground: white;
$blackOverlay: rgba(0, 25, 50, 0.75);
$whiteOverlay: rgba(255, 255, 255, 0.05);
$btnBg: #0796c2;
$btnBgHover: #047394;
$btnText: white;
$appBarBg: #00000088;
$logoColor: #ffffff49;
$borderColor: rgba(255, 255, 255, 0.14);
