.collections-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  .img-div {
    height: 200px;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(215, 238, 254);
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    max-width: 400px;
    .del-ico {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: rgba(0, 0, 0, 0.37);
      font-size: 20px;
      cursor: pointer;
    }
    img {
      height: 70%;
      width: 70%;
      object-fit: contain;
    }
  }
}
