.oa {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url("../images/oa.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px;
  top: 0;
  left: 0;
  z-index: -1;
}
